<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href [routerLink]="['/dashboard']">Dashboard</a>
      <mat-list-item>Settings</mat-list-item>
      <mat-nav-list class="sub-menu">
          <a mat-list-item href [routerLink]="['/users']">User</a>
      </mat-nav-list>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>client</span>
    </mat-toolbar>
    <mat-progress-bar color="accent" *ngIf="isNavigationLoading" mode="indeterminate"></mat-progress-bar>
    <div class="grid-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
